<p class="welcomeIp"></p>
<p class="welcomeCity"></p>
<div class="mainShake">
    <div class="circle"></div>
    <div class="square"></div>
    <div class="vhsText">
        <p class="hifi">HI-FI</p>
        <p class="vhs">VHS</p>
    </div>


    <h1 class="welcomeSplash">Welcome</h1>
    <div class="toParadise">
        <p class="to">To</p>
        <p class="paradise">Paradise</p>
    </div>
</div>
<div class="error ui-widget-content">
    <div class="errorTop">
        <p>you are welcome</p>
        <i class="material-icons" close-error>close</i>
    </div>
    <div class="errorMain">
        <p>DOWNLOADING VIRUS...</p>
        <div class="virusProgress">
            <div id="virusBar"></div>
        </div>
        <button error-button>Close</button>
    </div>
</div>
<div id="errors">
    <div class="error2 ui-widget-content">
        <div class="errorTop">
            <p>SYSTEM FAILURE</p>
            <i class="material-icons" close-error>close</i>
        </div>
        <div class="errorMain">
            <p>オフライン</p>
            <button error-button>good-bye</button>
        </div>
    </div>
</div>

<!-- <p class="enter" data-text="&lt; ENTER &gt;">&lt; Enter &gt;</p> -->
<p class="enter" ng-click="$ctrl.start()" enter-hover data-text="press start">press start</p>